@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-primary: #da3333;
  --clr-grey-light: rgba(238, 238, 238, 0.6);
  --border-radius: 12px;
}

main {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: #f4f4f9;
}

.container {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.btn {
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  color: var(--clr-white);
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease;
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  transform: translateY(2px) scale(0.98);
}

.btn-long {
  padding: 12px 60px;
}

.btn-red {
  background-color: var(--clr-primary);
}

.btn-black {
  background-color: var(--clr-black);
}

a {
  text-decoration: none;
}

.header {
  text-align: center;
  background-color: var(--clr-primary);
  color: #fff;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  isolation: isolate;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/Grid\ 07.png");
  opacity: 0.5;
  background-size: contain;
  z-index: -1;
}

.logo {
  display: flex;
  align-items: stretch;
}

.logo img {
  width: 25px;
}

.logo span {
  font-size: 22px;
  font-weight: 500;
}

.template-body {
  padding: 30px 25px;
}

.template-body h3 {
  font-size: 20px;
}

.template-body p {
  color: #505050;
  font-size: 17px;
  line-height: 1.4;
  margin: 4px 0;
}

.template-body .box {
  margin-bottom: 28px;
}

button {
  width: 100%;
  margin-top: 5px;
}

.order-summary {
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.order-boxes {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.order-box {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #f0f0f0cc;
  border-radius: var(--border-radius);
  border: 1px solid #2020201a;
}

.order-box h4 {
  font-size: 18px;
}

.order-box p {
    word-break: break-all;
  width: 40%;
}

.header h1 {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 35px;
}

.order-details {
  margin: 30px 0;
}

.order-details h2 {
  color: #0073e6;
}

.order-details p {
  font-size: 16px;
  line-height: 1.6;
}

.order-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-summary th,
.order-summary td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.button {
  display: inline-block;
  background-color: #0073e6;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.contact-details {
  margin-top: 4rem;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1c0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;
  background-color: #f5f5f5;
  text-align: center;
  color: #959595;
  font-size: 14px;
  margin-top: 0px;
}

.logo {
  color: var(--clr-black);
}

.footer-logo {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.footer-bottom {
  margin-top: 1rem;
  border-top: 1px solid #e1e1e1c0;
  padding: 15px 5px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-bottom a {
  color: inherit;
}

@media (max-width:640px) {
    .footer-bottom{
        flex-direction: column;
        gap: 8px;
    }
    .header h1{
        width: 90%;
    }
}
@media (max-width:520px) {

    .header h1{
        width: 90%;
        font-size: 28px;
    }
    .order-box h4{
        font-size: 16px;
    }
    .template-body p{
        font-size: 16px;
    }
}